:root{
    --first-color:#FFFFFF;
    --second-color-text:#212121;
    --color-hover:#2196F3;
    --third-color-light-gray:#757575;
    --color-sections:#2F303A;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    padding: 15px;
    background-color: skyblue;
    transform: translate(-50%, -50%);
  }
.container{
    max-width: 1200px;
    padding:0 15px;
    margin: 0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header__content-wrap{
    display: flex;
    gap: 93px;
    align-items: center;
}
.nav__list{
    display: flex;
    gap: 50px;
}
.nav__list-item{
    padding: 32px 0;
}
.nav__list-link{
    font-size: 14px;
    font-weight: 500;
    transition: 0.5s;
    color: var(--second-color-text);    
    position: relative;
}
.contact__list{
    margin-left: auto;
    display: flex;
    gap: 50px;
}
.contact__list-link{
    font-size: 14px;
    font-weight: 500;
    transition: 0.5s;
    color: var(--third-color-light-gray);   
}
:is(.contact__list-link,.nav__list-link):hover{
    color: var(--color-hover);
    transition: 0.5s;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--color-hover);
    font-size: 26px;
}
.logo__header{
    color: var(--second-color-text);
}
.logo__footer{
    color: var(--first-color);
}
.hero{
    background:url(../images/features/Img.png);
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero__title{
    font-weight: 900;
    font-size: 44px;
    color: var(--first-color);
    line-height: 60px;
    letter-spacing: 0.06em;
    max-width: 696px;
    text-align: center;
    margin: 0 auto;
}
.hero__btn{
    background-color: var(--color-hover);
    color: var(--first-color);
    border-radius: 4px;
    width: 216px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.features{
    padding: 94px 0;
}
.features__list{
    display: flex;
    gap: 30px;
}
.features__list-subtitle{
    font-weight: 700;
    font-size: 14px;
    color: var(--second-color-text);
    margin-bottom: 10px;
}
.features__list-text{
    color: var(--third-color-light-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.work{
    padding-bottom: 94px;
}
.work__list{
    display: flex;
    gap: 30px;
}
.work__title, .team__title{
    font-weight: 700;
    font-size: 36px;
    color: var(--second-color-text);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
} 
.team{
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: #F5F4FA;
}
.team__list{
    display: flex;
    gap: 30px;
}
.team__list-item{

    border-radius: 4px;
}
.team__list-wrap{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team__list-subtitle{
    font-weight: 500;
    font-size: 16px;
    color: var(--second-color-text);
    margin-bottom: 10px;
    text-align: center;
}
.team__list-text{
    font-weight: 400;
    font-size: 16px;
    color: var(--third-color-light-gray);
    text-align: center;
}
.footer{
    background-color: var(--color-sections);
    padding-top: 60px;
    padding-bottom: 60px;
}
.address__list-link{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
/* брузерный механизм который вызначает вагу селекторов в ксс */
.location{
    font-weight: 400;
    font-size: 14px;
    color: var(--first-color);
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;  
}
.filters__list{
   margin-bottom: 50px;
   display: flex;
   justify-content: center;
   gap: 8px;
}
.address{
    margin-top: 20px;
}
.address__list-item{
    margin-bottom: 9px;
}
.filters__list-button{
    background-color: #F5F4FA;
    border-radius: 4px;
    transition: 0.5s;
    padding: 6px 22px;
    color: var(--second-color-text);
}
.filters__list-button:hover{
    background-color: var(--color-hover);
    transition: 0.5s;
    color: var(--first-color);
}
.portfolio__list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.portfolio__text-wrap{
    padding: 20px 24px;
}
.features__list-item:nth-child(1)::before{
    background-image: url(../images/features/Rectangle\ 3.png);
    width: 270px;
    height: 120px;
    content: "";
    display: inline-block;
    margin-bottom: 30px;
}
.features__list-item:nth-child(2)::before{
    background-image: url(../images/features/Rectangle\ 2.png);
    width: 270px;
    height: 120px;
    content: "";
    display: inline-block;
    margin-bottom: 30px;
}
.features__list-item:nth-child(3)::before{
    background-image: url(../images/features/Rectangle\ 3\ \(1\).png);
    width: 270px;
    height: 120px;
    content: "";
    display: inline-block;
    margin-bottom: 30px;
}
.features__list-item:nth-child(4)::before{
    background-image: url(../images/features/Rectangle\ 4.png);
    width: 270px;
    height: 120px;
    content: "";
    display: inline-block;
    margin-bottom: 30px;
}
.clients__title{
    text-align: center;
    font-size: 36px;
    letter-spacing: 3%;
    font-weight: 700;
}
.clients__list{
    display: flex;
    gap:30px;
    margin-top: 66px;
}
.clients{
    padding: 94px 0;
}
.clients__list-item{
    flex-basis: calc((100% - 150px) / 6);
}
.contact__list-link{
    display: flex;
    gap: 10px;
    align-items: center;
}
.clients__list-link{
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.team__list-item{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team__list-wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team__list-link{
    height: 44px;
    width: 44px;
    display: flex;
}
.contact__list-link{
    color: rgba(117, 117, 117, 1);
}
.contact__list-svg{
    fill:currentColor;
}
.clients__list-link{
    color: #757575;
    transition: 0.5s;
}
.clients__list-svg{
    fill: currentColor;
}
.clients__list-link:hover{
    color: #2196F3;
    transition: 0.5s;
    border-color: #2196F3;
}
.team__list-link{
    color: #757575;
    transition: 0.5s;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.team__list-svg{
    fill: currentColor; 
}
.team__list-link:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #2196F3;
}
.team__list-ico{
    padding-bottom: 30px;
}
.footer__text{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer__container{
    display: flex;
    gap: 70px;
}
.footer__list-wrapper{
    display: flex;
    gap: 10px;
}
.footer__list-link{
    height: 44px;
    width: 44px;
    display: flex;
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__list-svg{
    fill: currentColor; 
}
.footer__list-link:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #2196F3;
}
.modal__header{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3%;
}
.modal__label-text{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1%;
    color: rgba(117, 117, 117, 1);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }
  .modal__textarea{
    resize: none;
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
    padding-left: 16px;
    padding-top: 12px;
    width: 100%;
  }
  .modal__check-p{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3%;
    color: rgba(117, 117, 117, 1);
  }
  .modal__check-a{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3%;
    color: rgba(33, 150, 243, 1);
    text-decoration: underline;
  }
  .modal__button{
    width: 200px;
    height: 50px;
    background-color: rgba(33, 150, 243, 1);
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .modal__check-wrap{
    display: flex;
    gap: 9px;
    margin-top: 20px;
  }
  .modal__input{
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
  }
  .modal__textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
  }
  .modal__input{
    width: 100%;
    height: 40px;
    padding-left: 42px;
  }
  .modal__span{
    position: relative;
  }
  .modal__svg{
    position: absolute;
    top: 10%;
    left: 12px;
  }
  .modal__label-text{
    margin-top: 10px;
  }
  .btn{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 8px;
    top: 8px;
  }
  .modal__input:focus, .modal__textarea:focus{
    outline-color: #2196F3;
  }
  .modal__close:hover{
    fill: #2196F3;
    transition: 0.3s;
  }
  .modal__close{
    transition: 0.3s;
  }
  .modal__input:focus+.modal__svg{
    fill: #2196F3;
  }
  .portfolio__list-item{
    outline: 1px solid rgba(238, 238, 238, 1);
  }
  .portfolio__list-text{
    padding-top: 4px;
  }
  .footer__tg-title{
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 3%;
    text-transform: uppercase;
  }
  .footer__tg-button{
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 6%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .footer__tg-input{
    width: 358px;
    height: 50px;
    background-color: inherit;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
  }
  .footer__tg-form{
    display: flex;
    gap: 12px;
    margin-top: 20px;
  }
  .footer__tg-wrap{
    display: flex;
    flex-direction: column;
  }
  .footer__container{
    display: flex;
  }
  .current::after{
    content: "";
    background-color: #2196F3;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 45px;
  }
  .current{
    color: #2196F3;
  }
  .header{
    border-bottom: 1px solid rgba(236, 236, 236, 1);
  }
  .portfolio__list-subtitle{
    margin-bottom: 4px;
  }
  .portfolio__list-text{
    color: rgba(117, 117, 117, 1);
  }
  .work__list-text{
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
  }
  .work__list-item{
    position: relative;
  }
  .portfolio__list-comment{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 3%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transition: 0.5s;
  }
  .portfolio__list-wrapper{
    position: relative;
    overflow: hidden;
  }
  .portfolio__list-link:hover .portfolio__list-comment{
    transform: translateY(0);
  }