@mixin btn($wd,$hg,$bac,$bor,$col,$fw,$fs,$disp,$marTop){
    width: $wd;
    height: $hg;
    background-color: $bac;
    border-radius: $bor;
    color: $col;
    font-weight: $fw;
    font-size: $fs;
    display: $disp;
    margin-top: $marTop;
}
@mixin link($wd,$hg,$col,$bgc,$disp,$just,$align,$trans,$bor){
    width: $wd;
    height: $hg;
    color: $col;
    background-color: $bgc;
    display: $disp;
    justify-content: $just;
    align-items: $align;
    transition: $trans;
    border-radius: $bor;
}
@mixin mob($breakpoint){
	@media screen and (min-width:$breakpoint){
     @content;
	}
}
@mixin tab($breakpoint){
	@media screen and (min-width:$breakpoint){
     @content;
	}
}
@mixin desc($breakpoint){
	@media screen and (min-width:$breakpoint){
		@content;
	}
}
@mixin retina($dev-ratio, $dpi, $dppx){
    @media (min-device-pixel-ratio:$dev-ratio),
    (min-resolution:$dpi),
    (min-resolution:$dppx)
    {
        @content;
    }
}

@mixin bg-image($webp, $fallback, $gradient){
    @supports (background-image: url("#{$webp}")){
        background-image: $gradient, url("#{$webp}");
    }
    background-image: $gradient, url("#{$fallback}");
}