    $first-color:#FFFFFF;
    $second-color-text:#212121;
    $color-hover:#2196F3;
    $third-color-light-gray:#757575;
    $color-sections:#2F303A;
    $gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));