.features{
    padding: 94px 0;

&__list{
    @include tab(768px){
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    @include desc(1199px){
        display: flex;
        gap: 30px;
        }
        &-item{
            @include tab(768px){
                max-width: 354px;}
        @include desc(1199px){
                max-width: 270px;
            }
        }
    &-item:nth-child(1)::before{
        background-image: url(../images/features/Rectangle\ 3.png);
        // width: 270px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 120px;
        content: "";
        display: inline-block;
        margin-bottom: 30px;
    }
    &-item:nth-child(2)::before{
        background-image: url(../images/features/Rectangle\ 2.png);
        // width: 270px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 120px;
        content: "";
        display: inline-block;
        margin-bottom: 30px;
    }
    &-item:nth-child(3)::before{
        background-image: url(../images/features/Rectangle\ 3\ \(1\).png);
        // width: 270px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 120px;
        content: "";
        display: inline-block;
        margin-bottom: 30px;
    }
    &-item:nth-child(4)::before{
        background-image: url(../images/features/Rectangle\ 4.png);
        // width: 270px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 120px;
        content: "";
        display: inline-block;
        margin-bottom: 30px;
    }
&-subtitle{
    font-weight: 700;
    font-size: 14px;
    color: $second-color-text;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: .03em;
    @include tab(768px){
        text-align: left;
    }
}
&-text{
    color: $third-color-light-gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}}}
