.hero{
    padding: 118px 0;
    background-color: rgba(47, 48, 58, 1);
    @include bg-image("../images/background/headerbackphoneon.webp", "../images/background/jpg/headerbackphoneon.jpg", $gradient);

    @include retina(2,192dpi,2dppx) {
        @include bg-image("../images/background/headerbackphonetwo.webp", "../images/background/jpg/headerbackphonetwo.jpg", $gradient);
    }
    
    @include retina(3,288dpi,3dppx) {
        @include bg-image("../images/background/headerbackphonethre.webp", "../images/background/jpg/headerbackphonethre.jpg", $gradient);
    }
    @include tab(768px){
        padding: 118px 0;
        @include bg-image("../images/background/headerbacktableone.webp", "../images/background/jpg/headerbacktableone.jpg", $gradient);

        @include retina(2,192dpi,2dppx) {
            @include bg-image("../images/background/headerbacktabletwo.webp", "../images/background/jpg/headerbacktabletwo.jpg", $gradient);
        }
        
        @include retina(3,288dpi,3dppx) {
            @include bg-image("../images/background/headerbacktablethree.webp", "../images/background/jpg/headerbacktablethree.jpg", $gradient);
        }
    }  
    @include desc(1200px){
        padding: 200px 0;
        @include bg-image("../images/background/headerbackdescone.webp", "../images/background/jpg/headerbackdescone.jpg", $gradient);

        @include retina(2,192dpi,2dppx) {
            @include bg-image("../images/background/headerbackdesctwo.webp", "../images/background/jpg/headerbackdesctwo.jpg", $gradient);
        }
        
        @include retina(3,288dpi,3dppx) {
            @include bg-image("../images/background/headerbackdescthree.webp", "../images/background/jpg/headerbackdescthree.jpg", $gradient);
        }
    }   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
&__title{
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    color: $first-color;
    line-height: 40px;
    letter-spacing: 0.06em;
    max-width: 696px;
    text-align: center;
    margin: 0 auto;
    @include tab(768px){
        max-width: 360px;
    }
}
&__btn{
    margin: 0 auto;
    @include btn(216px, 50px, $color-hover, 4px, $first-color, 700, rgba(255, 255, 255, 1), block, 30px)
}
}