ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
}
address{
    font-style: normal;
}
h1, h3, h5, p{
    margin: 0;
}
button{
    cursor: pointer;
    border: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
button{
    background-color: transparent;
}